main {
  width: 100%;
  min-height: 100vh;
}

.signin {
  width: 90%;
  height: 12vh;
  background-color: rgba(91, 139, 202, 0.8);
  margin: 25px auto;
}

.signin h1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  color: black;
}

.offer-div {
  position: relative;
  width: 80%;
  height: 500px;
  margin: 40px auto;
}

.offer-div .offer-item {
  width: 100%;
  height: 500px;
  position: relative;
}

.offer-div .offer-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer-div .offer-item .offer-info {
  position: absolute;
  color: black;
  background-color: rgba(254, 189, 105, 0.7);
  width: 70%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 30px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
  z-index: 999;
}

.offer-info h1 {
  font-size: 36px;
  font-weight: 700;
  margin-left: 50px;
  margin-right: 10px;
  line-height: 1.2;
}

.offer-info .offer-num {
  color: white;
}

.offer-info .offer-on {
  color: #dbe8d8;
}

.offer-info .shop-now {
  width: 160px;
  margin-top: 30px;
  padding: 15px 10px;
  color: black;
  border: none;
  background-color: rgb(253, 150, 15);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 50px;
  transition: 300ms ease-in-out;
}

.offer-info .shop-now:hover {
  background-color: rgb(252, 143, 2);
  width: 110%;
}

.offer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.prev-gal,
.next-gal {
  font-size: 50px;
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.prev-gal {
  left: -5%;
}

.next-gal {
  right: -5%;
}

.how-it-works {
  width: 90%;
  min-height: 300px;
  margin: 70px auto;
}

.how-it-works-text {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.how-it-works-text h1 {
  font-size: 40px;
  font-weight: 600;
}

.how-it-works-content {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.location-div,
.select-div,
.delivery-div {
  width: 25%;
  min-height: 180px;
}

.location-div,
.select-div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location-div-content,
.select-div-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-img,
.select-product-img,
.delivery-img {
  width: 35%;
  height: 30%;
}

.location-img img,
.select-product-img img,
.delivery-img img {
  width: 80%;
  min-width: 50px;
  height: auto;
}

.location-img img {
  width: 70%;
}

.delivery-img img {
  width: 90%;
}

.delivery-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location-text,
.select-product-text,
.delivery-text {
  text-align: center;
  margin-top: 20px;
}

.location-text h2,
.select-product-text h2,
.delivery-text h2 {
  font-size: 24px;
  font-weight: 500;
}

.next-on {
  width: 5rem;
  margin-left: 50px;
  color: black;
  object-fit: contain;
}

.best-prices-on-top-brands {
  width: 90%;
  max-height: 500px;
  margin: 30px auto;
  position: relative;
  margin-bottom: 150px;
}

.offer-2 {
  margin-top: 30vh;
}

.best-prices-text {
  width: 100%;
  height: 50px;
}

.best-prices-text h2 {
  font-size: 24px;
  font-weight: 600;
}


.best-prices-box {
  width: 100%;
  max-height: 500px;
  margin-top: 0px;
}

.best-price-item {
  height: 490px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: transform 350ms ease-in-out;
}

.offer-guide {
  color: white;
  width: 3.6rem;
  height: 3.6rem;
  background-color: rgb(105, 3, 3);
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 15px;
  position: absolute;
  top: 5px;
  margin-left: 10px;
}

.item-img-prod {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.item-img-prod img {
  width: 120px;
  height: auto;
  object-fit: contain;
  margin: 10px;
}

.brand-detail {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.brand-title {
  color: var(--light-blue);
}

.brand-title h4 {
  font-size: 18px;
  font-weight: 500;
}

.pricing-box {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 20px;

}

.product-val {
  display: flex;
  gap: 10px;
}

.product-val h4 {
  color: var(--portland-orange);
  font-size: 22px;
  font-weight: 600;
  display: inline-block;
}

.product-val h5 {
  color: var(--charcoal);
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.customer-rating{
    display: flex;
    flex-direction: column;
}

.rating-images{
    display: flex;
}

.customer-rating i {
  color: var(--mellow-apricot);
  font-size: 18px;
  margin: 2px;
}

.customer-rating h5 {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-blue);
}

.save-val h5 {
  font-weight: 500;
  font-size: 16px;
}

.save-val-mrp {
  color: var(--portland-orange);
}

.shop-btns-offer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 5px 5px 12px;
  margin-top: 30px;
}

.buy-now,
.add-cart {
  flex: 1;
  height: 42px;
  width: 100px;
  margin: 5px;
  border: none;
  background-color: var(--mellow-apricot);
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.buy-now:hover,
.add-cart:hover {
  background-color: rgba(255, 153, 0, 0.9);
}

.add-msg,.login-msg,.cart-msg{
  background-color: rgba(255, 153, 0, 0.9);
  width: 420px;
  height: 20vh;
  padding: 5px;
  border-radius: 3px;
  display: none;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000001;
}

.msg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000000;
  display: none;
}

.msg-overlay.show-overlay{
  display: block;
}

.add-msg.show-msg{
  display: block;
}

.login-msg.show-login{
  display: block;
}

.cart-msg.show-cart{
  display: block;
}

.add-msg h3, .login-msg h3, .cart-msg h3{
  font-weight: 500;
  font-size: 20px;
  display: inline-block;
  margin-right: 8px;
  color: white;
}

.tick{
  width: 30px;
}

.offer-on-specific-item {
  width: 90%;
  min-height: 600px;
  margin: 25vh auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 50px;
}

.offer-on-specific-item a {
  margin: 0 20px 20px 0;
}

.offer-on-specific-item a img {
  width: 100%;
  height: 100%;
}

.offer-on-groceries {
  width: 90%;
  min-height: 400px;
  margin: 80px auto;
}

.offer-on-groceries-text h2,
.offer-on-hygine-skin-text h2 {
  font-size: 32px;
  font-weight: 500;
}
.offer-on-groceries-info {
  width: 100%;
  min-height: 400px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}

.offer-on-groceries-info a,
.offer-on-hygine-skin-info a {
  margin: 0 20px 20px 0;
}

.offer-on-groceries-info a img,
.offer-on-hygine-skin-info a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.offer-on-hygine-skin {
  width: 90%;
  min-height: 200px;
  margin: 60px auto;
}

.offer-on-hygine-skin-info {
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  margin-top: 20px;
}

@media screen and (max-width: 1266px) {
  .upper-header-menu {
    gap: 0.8rem;
  }
  .lower-header {
    gap: 3rem;
  }
}

@media screen and (max-width: 1180px) {
  .signin {
    margin-top: -35px;
  }

  .offer-div {
    width: 90%;
    margin-top: -20px;
  }

  .offer-info {
    min-width: 85%;
    min-height: 70%;
  }

  .offer-info h1 {
    font-size: 32px;
  }
  .offer-info h1 {
    font-size: 32px;
  }

  .how-it-works-text h1 {
    font-size: 32px;
  }

  .location-text h2,
  .select-product-text h2,
  .delivery-text h2 {
    font-size: 20px;
  }

  .next-on {
    font-size: 2rem;
    margin-left: 15px;
  }

  .offer-on-groceries-info {
    grid-template-columns: repeat(3, 1fr);
  }

  .offer-on-hygine-skin-info {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1076px) {
  .footer-content {
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .offer-on-specific-item {
    width: 96%;
    min-height: 500px;
  }

  .offer-on-specific-item a img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .signin {
    width: 95%;
    height: 8vh;
  }
  .signin h1 {
    font-size: 28px;
  }

  .offer-info h1,
  .shop-now {
    margin-left: 30px;
  }

  .prev-gal,
  .next-gal {
    margin: 1px;
    font-size: 2.6rem;
  }

  .prev-gal {
    left: -6%;
  }

  .next-gal {
    right: -6%;
  }

  .location-text h2,
  .select-product-text h2,
  .delivery-text h2 {
    font-size: 18px;
  }

  .offer-on-specific-item {
    min-height: 100px;
    grid-template-columns: 1fr;
  }

  .offer-on-specific-item a {
    margin-left: auto;
    margin-right: auto;
  }
  .offer-on-groceries-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .offer-on-hygine-skin-info {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .how-it-works-content {
    flex-direction: column;
  }
  .location-div,
  .select-div,
  .delivery-div {
    width: 300px;
    min-height: 80px;
    margin-top: 20px;
  }

  .location-img img,
  .select-product-img img {
    margin-left: 20px;
  }

  .best-prices-on-top-brands {
    width: 90%;
  }
  .offer-2 {
    margin-top: 20vh;
  }

  .best-price-item {
    height: 400px;
    margin-top: 20px;
  }
  .item-img img {
    width: 100px;
  }
  .offer-guide {
    width: 3.4rem;
    height: 3.4rem;
    top: 30px;
    padding-left: 12px;
    padding-top: 15px;
    margin-left: 5px;
  }

  .offer-guide h3 {
    font-size: 16px;
  }
  .brand-title h4 {
    font-size: 16px;
  }
  .product-val h4 {
    font-size: 20px;
  }
  .product-val h5 {
    font-size: 15px;
  }
  .customer-rating i {
    font-size: 16px;
  }
  .customer-rating h5 {
    font-size: 15px;
  }
  .offer-on-groceries,
  .offer-on-hygine-skin {
    width: 80%;
  }

  .offer-on-groceries-info {
    grid-template-columns: repeat(1, 1fr);
  }

  .offer-on-groceries-hygine-skin-info a,
  .offer-on-hygine-skin a {
    margin: 0.5rem auto;
  }

  .offer-on-hygine-skin-info {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .signin h1 {
    font-size: 24px;
  }
  .offer-info h1 {
    margin-left: 5px;
    font-size: 26px;
  }

  .offer-info .shop-now {
    margin-left: auto;
    margin-right: auto;
  }

  .prev-gal,
  .next-gal {
    margin: 1px;
    font-size: 2rem;
  }

  .prev-gal {
    left: -7%;
  }

  .next-gal {
    right: -7%;
  }

  .how-it-works-content {
    width: 100%;
  }

  .location-text h2,
  .select-product-text h2,
  .delivery-text h2 {
    font-size: 16px;
  }
  .offer-on-groceries,
  .offer-on-hygine-skin {
    width: 90%;
  }
}
